.btn {
    background-color: rgb(94, 76, 175);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .btn-success {
    background-color: rgb(186, 181, 236);
  }

  .btn-default {
    background-color: rgb(94, 76, 175);
  }